// Variables
$primary-color: #A38142;
$second-color: #a3814256;
$third-color: #253D4E;
$fourth-color: #7E7E7E;
$fifth-color: #adadad;
$white: #E6EAEF;
$gradient: linear-gradient(to right, $primary-color, $second-color);
$red: #d79806